<ion-view view-title="Book A Ride">
  <ion-content>
  <div id="map" data-tap-disabled="true"></div>
    <div class="card">
  <!-- <div class="item item-divider">
    I'm a Header in a Card!
  </div> -->
  <div class="item item-text-wrap">
    <div class="list">
  <label class="item item-input">

    <input type="text" placeholder="From">
  </label>
  <label class="item item-input">
    <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
    <input  type="text" placeholder="Destination">
  </label>
  <label class="item item-input">
    <button class="button button-block button-positive">
    Block Button
  </button>
  </label>

</div>
  </div>

</div>
  </ion-content>
</ion-view>
